
body {background: #edeef0;}

#header {
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#cont-major {
    padding-top: 30px;
}

#container {

}

#column-left {

}

#column-central {

}

#column-right {

}
